<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}", name: "Blog" %></h2>
</div>

<div class="row">
  <ul>
    <li>
      <%= link "New post", to: post_path(@conn, :new) %>
      <%= link "Posts", to: post_path(@conn, :index) %>
    </li>
  </ul>
</div>
